/* Cores utilizadas no logo do IME: #1891cd (claro) e #094978 (escuro). */

/* Alterando a fonte do corpo dos slides: */
body {
  font-family: 'Biryani', serif;
  color: #3B3B3B;
}

/* Mudando cor do texto e adicionando borda abaixo dos headers dos slides: */
h1 {
  position: relative !important;
  color: #094978;
  border-bottom: 1px solid #094978;
}

/* Adicionando logo do IME após todos títulos:  */
h1::after {
  margin-left: -100px;
  position: absolute;
  height: 50px;
  width: 50px;
  content: ' ';
  right: 0;
  bottom: -26px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  right: -50px;
  background-image: url('images/logo-ime.png');
}

/* Retirando o logo do IME da capa, utilizando a tag que botei nos títulos de lá: */
#h1-capa {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  font-family: Abel; top: 25%;
  border-bottom: none !important;
  color: #094978;
}

#h1-capa::after {
  background-image: none !important;
}

/* Alterando a capa: */
.remark-slide-container .title-slide {
  /* Mudando a cor e sombra do texto: */
  color: #094978;

  /* Alterando a área utilizada: */
  display: block;
  height: 100%;
}

/* Definindo a animação que usei no fundo da capa: */
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Forçando as posições dos textos na capa: */
#texto-medio-esquerda {
  position: absolute;
  left: 25%;
  top: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

#texto-medio-direita {
  position: absolute;
  left: 75%;
  top: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

#texto-baixo {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* Modificando o fundo da capa e das páginas de imagens entre seções: */
.remark-slide-container .title-slide, .remark-slide-container .img-page{
  background: linear-gradient(-45deg, #dcf2ff, #d4e2f4, #cfd1e7, #cbc0d6, #c7b0c2);
  background-size: 400% 400%;
  animation: gradientBG 7.5s ease infinite;
}

/* Alterando estilos para as posições de cada imagem nas páginas de imagens entre seções: */
#img-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
}

#img-left {
  position: absolute;
  top: 50%;
  left: 30%;
  transform:translate(-50%, -50%);
}

#img-right {
  position: absolute;
  top: 50%;
  left: 70%;
  transform:translate(-50%, -50%);
}